# History files
.Rhistory

# Example code in package build process
*-Ex.R
*~

SIMA/vignettes/sima_vignette-concordance.tex
SIMA/vignettes/sima_vignette.log
SIMA/vignettes/sima_vignette.pdf
SIMA/vignettes/sima_vignette.synctex.gz
SIMA/vignettes/sima_vignette.tex
