export(VolcanoPlot)
export(acp)
export(affy_normalization)
export(analyse_diff)
export(clusterWithParameter)
export(declare_contrastes)
export(lumi_normalization)
export(normalization)
export(preambule)
export(sima.densityplot)
export(sima.heatmap)
export(topTableReducer)
